{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>{{ author.name }}</h1>
    <p><strong>Birthday:</strong> {{ author.birthday }}</p>
    <p><strong>Country:</strong> {{ author.country }}</p>
    <p><strong>Description:</strong> {{ author.description }}</p>

    <h2>Books Written by {{ author.name }}</h2>
    <a href="{% url 'create-book' author_id=author.id %}" class="btn btn-primary">Create New Book</a>
    {% if books %}
        <table class="table mt-4">
        <thead>
            <tr>
                <th>Name</th>
                <th>Summary</th>
                <th>Date of Publication</th>
                <th>Number of sales</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books%}
            <tr>
                <td><a href="{% url 'detail-book' pk=book.id %}">{{ book.name }}</a></td>
                <td>{{ book.summary }}</td>
                <td>{{ book.date_of_publication }}</td>
                <td>{{ book.number_of_sales }}</td>
                <td>
                    <a href="{% url 'edit-book' book_id=book.id %}" class="btn btn-info btn-sm">Edit</a>
                </td>
                <td>
                    <button class="btn btn-danger btn-sm delete-book-btn" data-book-id="{{ book.id }}">Delete</button>
                </td>
                <td>
                        <a href="{% url 'book_sales_index' book_id=book.pk %}">View Sales</a>
                </td>
                <td>
                        <a href="{% url 'reviews' book_id=book.pk %}">View Reviews</a>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No books written by this author yet.</p>
    {% endif %}
</div>
{% csrf_token %}

{% endblock %}

{% block js_script %}
    <script src="{% static 'scripts/deleteBook.js' %}"></script>
{% endblock %}