{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>{{ author.name }}</h1>
    <p>Birthday: {{ author.birthday }}</p>
    <p>Country: {{ author.country }}</p>
    <p>Description: {{ author.description }}</p>

    <h2>Books by {{ author.name }}</h2>
    <ul>
        {% for book in books %}
            <li>{{ book.name }} - {{ book.date_of_publication }}</li>
        {% empty %}
            <li>No books found.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}