{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Authors</h1>
    <a href="{% url 'create-author' %}" class="btn btn-primary">Create New Author</a>

    <table class="table mt-4">
        <thead>
            <tr>
                <th>Name</th>
                <th>Country</th>
                <th>Birthday</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for author in authors %}
            <tr>
                <td><a href="{% url 'detail-author-view' pk=author.id %}">{{ author.name }}</a></td>
                <td>{{ author.country }}</td>
                <td>{{ author.birthday }}</td>
                <td>{{ author.description }}</td>
                <td>
                    <a href="{% url 'edit-author' author_id=author.id %}" class="btn btn-info btn-sm">Edit</a>
                </td>
                <td>
                    <button class="btn btn-danger btn-sm delete-author-btn" data-author-id="{{ author.id }}">Delete</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    {% csrf_token %}


{% endblock %}

{% block js_script %}
    <script src="{% static 'scripts/deleteauthor.js' %}"></script>
{% endblock %}