{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
    <h1>Reviews for {{ book.name }}</h1>
        <a href="{% url 'create_review' book_id=book.pk %}" class="btn btn-primary">Create Review</a>
    <table class="table mt-4">
        <thead>
            <tr>
                <th>Review</th>
                <th>Score</th>
                <th>Number of Up Votes</th>
                <th>Number of Down Votes</th>
                <th>Vote</th>
            </tr>
        </thead>
        <tbody>
            {% for review in reviews %}
            <tr>
                <td>{{ review.review }}</td>
                <td>{{ review.score }}</td>
                <td>{{ review.number_of_up_votes }}</td>
                <td>{{ review.number_of_down_votes }}</td>
                <td>
                   <button class="btn btn-sm btn-upvote" data-review-id="{{ review.id }}">
                        {% if review.number_of_up_votes > 0 %}
                            <i class="fa fa-arrow-up filled"></i>
                        {% else %}
                            <i class="fa fa-arrow-up"></i>
                        {% endif %}
                    </button>
                    <button class="btn btn-sm btn-downvote" data-review-id="{{ review.id }}">
                        {% if review.number_of_down_votes > 0 %}
                            <i class="fa fa-arrow-down filled"></i>
                        {% else %}
                            <i class="fa fa-arrow-down"></i>
                        {% endif %}
                    </button>
                </td>
                <td>
                    <a href="{% url 'edit_review' review_id=review.id %}" class="btn btn-info btn-sm">Edit</a>
                </td>
                <td>
                    <button class="btn btn-danger btn-sm delete-review-btn" data-review-id="{{ review.id }}">Delete</button>
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
    </div>
    {% csrf_token %}

{% endblock %}

{% block js_script %}
    <script src="{% static 'scripts/deletereview.js' %}"></script>
    <script src="{% static 'scripts/votereviews.js' %}"></script>
{% endblock %}