{% extends "base.html" %}
{% load static %}
{% load sort_tags %}

{% block content %}
<div class="container">
    <h1>Authors</h1>
    <a href="{% url 'create-author' %}" class="btn btn-primary">Create New Author</a>

    <table class="table mt-4">
        <thead>
            <tr>
                <th><a href="{% sort_url request.GET 'name' %}">Name</a></th>
                <th><a href="{% sort_url request.GET 'country' %}">Country</a></th>
                <th><a href="{% sort_url request.GET 'birthday' %}">Birthday</a></th>
                <th><a href="{% sort_url request.GET 'description' %}">Description</a></th>
                <th><a href="{% sort_url request.GET 'books_count' %}">Published Books</a></th>
                <th><a href="{% sort_url request.GET 'average_score' %}">Avg Score</a></th>
                <th><a href="{% sort_url request.GET 'total_sales' %}">Total Sales</a></th>
            </tr>
        </thead>
        <tbody>
            {% for author in authors %}
            <tr>
                <td><a href="{% url 'detail-author-view' pk=author.id %}">{{ author.name }}</a></td>
                <td>{{ author.country }}</td>
                <td>{{ author.birthday }}</td>
                <td>{{ author.description }}</td>
                <td>{{ author.books_count }}</td>
                <td>{{ author.average_score }}</td>
                <td>{{ author.total_sales }}</td>

                <td>
                    <a href="{% url 'edit-author' author_id=author.id %}" class="btn btn-info btn-sm">Edit</a>
                </td>
                <td>
                    <button class="btn btn-danger btn-sm delete-author-btn" data-author-id="{{ author.id }}">Delete</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
    {% csrf_token %}


{% endblock %}

{% block js_script %}
    <script src="{% static 'scripts/deleteauthor.js' %}"></script>
{% endblock %}