{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Sales</h1>
    <a href="{% url 'create_sale' %}" class="btn btn-primary">Create Sale</a>
    <table class="table mt-4">
        <thead>
            <tr>
                <th>Book Id</th>
                <th>Year</th>
                <th>sales</th>
            </tr>
        </thead>
        <tbody>
            {% for sale in sales %}
            <tr>
                <td>{{ sale.book}}</td>
                <td>{{ sale.year }}</td>
                <td>{{ sale.number_of_sales }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    {% csrf_token %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'scripts/deleteauthor.js' %}"></script>

{% endblock %}